.select{
  input{
    width: 295px;
  }
}

.select-list{
  height: 100px;
  overflow-y:auto; 
}

.select-item{
  padding: 3px 5px;
  cursor: pointer;
  &:hover{
    background: rgba(0, 0, 0, 0.1);
  }
}

.select-cursor{
  background: rgba(0, 0, 0, 0.2);
}
